@model Flight_Project.ViewModel.FlightViewModel
@using Flight_Project.Models;
@{Flight_Project.ViewModel.FlightViewModel fvm = (Flight_Project.ViewModel.FlightViewModel)Session["FlightViewModel"];}

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">@TempData["Message"]</div>// no flight valids
}



<br />

<script>
    function validateForm() {
        var seats = document.forms["myForm"]["seatInput"].value;
        if (seats < 1 || seats > 10) {
            alert("Error: Number of seats must be between 1 and 10");
            return false;
        }
    }
</script>

@using (Html.BeginForm("Payment", "Result", FormMethod.Post, new { name = "myForm", onsubmit = "return validateForm()" }))
{
    <label for="seatInput">Number of seats on flight:</label>
    @Html.TextBoxFor(m => m.seatInput, new { min = 1, max = 10 })
    <input type="submit" value="Continue to Payment">
}


<div>
    <p> @Html.ActionLink("Back to search", "Index", "Home")</p>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}